<a href="https://colab.research.google.com/github/nhtyagmur/Fibonacci/blob/master/Overall1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import math

In [ ]:
import sympy as sy

In [ ]:
import numpy as np

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
x=sy.symbols('x')

In [ ]:
(1/3)*sy.integrate(x**2+1, (x,-1,2))

2.00000000000000

In [ ]:
(1/2)*sy.integrate(sy.sqrt(1-x**2), (x,-1,1)).evalf()

0.785398163397448

In [ ]:
round((1/12)*sy.integrate(15+10*sy.sin(sy.pi*x/12), (x,0,12)).evalf(),2)

21.37

In [ ]:
def seq(n):
  if n==1:
    return 0
  else:
    return (1/4)*(seq(n-1)-3)

In [ ]:
for i in range(1,30):
  print(seq(i))

0
-0.75
-0.9375
-0.984375
-0.99609375
-0.9990234375
-0.999755859375
-0.99993896484375
-0.9999847412109375
-0.9999961853027344
-0.9999990463256836
-0.9999997615814209
-0.9999999403953552
-0.9999999850988388
-0.9999999962747097
-0.9999999990686774
-0.9999999997671694
-0.9999999999417923
-0.9999999999854481
-0.999999999996362
-0.9999999999990905
-0.9999999999997726
-0.9999999999999432
-0.9999999999999858
-0.9999999999999964
-0.9999999999999991
-0.9999999999999998
-1.0
-1.0

In [ ]:
def seq1(n):
  if n==0:
    return 1
  elif n==1:
    return 2
  else:
    return 1/(seq1(n-1)*seq1(n-2))

In [ ]:
for i in range (20):
  print(seq1(i))

1
2
0.5
1.0
2.0
0.5
1.0
2.0
0.5
1.0
2.0
0.5
1.0
2.0
0.5
1.0
2.0
0.5
1.0
2.0