<a href="https://colab.research.google.com/github/nhtyagmur/Fibonacci/blob/master/Sequences_and_Series_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import math

In [2]:
import sympy as sy

In [3]:
n=sy.symbols("n")

In [5]:
def seq(n):
  if n==1:
    return(0)
  else:
    return(2*(seq(n-1)+2))

In [6]:
seq(10)

2044

In [7]:
seq(5)

60

In [8]:
n=sy.symbols("n")

In [9]:
a=sy.symbols("a")

In [11]:
seq1=((2*a)**(1/n)+n*sy.ln(3*n)+a**2*n**3)/((n**2+1)*(n-1))
seq1

(a**2*n**3 + n*log(3*n) + (2*a)**(1/n))/((n - 1)*(n**2 + 1))

In [12]:
sy.limit(seq1,n, sy.oo)

a**2

In [13]:
sy.solve(a**2<=1)

(-1 <= a) & (a <= 1)